@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.alert {
  padding: 8px;
  margin: 6px;
}
